@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  font-family: Poppins;
  user-select: none;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Light.ttf");
  font-display: wrap;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #adadad6e;
}

::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 10px;
  height: 5px;
}
